/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    text-align: center;
    padding: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slider-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
}

.medicine-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.medicine-item {
    width: calc(33.33% - 20px); /* Враховуємо відступи між контейнерами */
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.medicine-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}